/* main conf */
*
{
    margin: 0;
    padding: 0;
}
*::selection
{
    background-color: hsl(293, 44%, 77%);
    color: black;
}
:root
{
    font-size: 16px;
    color: black;
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta: hsl(289, 100%, 72%);
    --Pale-Violet: hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Dark-Grayish-Violet:hsl(270, 7%, 64%);
    --bg-left-mess: hsl(272, 41%, 93%);
    --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
    --fw400: 400;
    --fw500: 500;
    --fw700: 700;
}
input[type='radio']:after
{
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--Very-Light-Magenta);
    position: absolute;
    transform: translate( 10%, 10%);
}
/* font and bg asgin */
body
{
    font-family: "Rubik", sans-serif;
    background: white;
}
.left-shape
{
    width: 600px;
    height: 80%;
    position: fixed;
    top: 0;
    left: -110px;
    border-radius: 0px 0px 300px 300px;
    z-index: -1;
    background: linear-gradient(205deg , var(--Light-Magenta)2% , var(--Light-Violet) 60%);
}
.right-shape
{
    width: 600px;
    height: 80%;
    position: fixed;
    bottom: 0;
    right: -230px;
    border-radius: 300px 300px 0px 0px;
    z-index: -2;
    background: var(--Light-Grayish-Violet);
}
/* containers style */
.container
{
    width: 100%;
    height: 97vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.phone-section
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.text-section
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    width: 50%;
    height: 100%;
}
/* phone */
/* phone body */
.phone-body
{
    background: var(--White);
    margin-left: 20%;
    width: 33%;
    height: 600px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
}
.phone-body:hover
{
    transform: scale(1.01);
}
.notch
{
    background: var(--White);
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    width: 50%;
    height: 30px;
    left: 25%;
    z-index: 5;
}
/* phone screen */
.screen
{
    border-radius: 25px;
    background: var(--Light-Grayish-Violet);
    width: 95%;
    height: 97%;
    margin: 2% 0px 0px 2.5%;
    overflow: hidden;
}
/* app head */
.heading
{
    background: linear-gradient(260deg , var(--Light-Magenta) , var(--Light-Violet));
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.2);
}
.heading .fa-caret-left
{
    position: absolute;
    top: 45px;
    left: 5%;
    color: var(--White);
}
.heading img
{
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid 1px var(--White);
    border-radius: 50%;
    top: 35px;
    left: 10%;
}
.heading p:nth-child(3)
{
    font-size: 0.8rem;
    font-weight: var(--fw700);
    color: var(--White);
    position: absolute;
    top: 32px;
    left: 25%;
}
.heading p:nth-child(4)
{
    font-weight: var(--fw400);
    font-size: 10px;
    color: var(--Pale-Violet);
    position: absolute;
    top: 48px;
    left: 25%;
}
.heading .fa-ellipsis-vertical
{
    position: absolute;
    top: 45px;
    right: 5%;
    color: var(--White);
}
/* message section */
.message-section
{
    position: relative;
    width: 100%;
    height: 100%;
}
.message-section div
{
    position: absolute;
}
.message-section div p
{
    font-size: 0.8rem;
    font-weight: var(--fw400);
}
.message-section div:nth-child(1)
{
    top: 15px;
    left: 4%;
    width: 75%;
    height: 9%;
    background: var(--bg-left-mess);
    border-radius: 10px 10px 10px 5px;
}
.message-section div:nth-child(1) p
{
    margin: 5% 0px 0px 4%;
    width: 95%;
    color: var(--Moderate-Violet);
}
.message-section div:nth-child(2)
{
    top: 75px;
    left: 4%;
    width: 75%;
    height: 9%;
    background: var(--bg-left-mess);
    border-radius: 10px 10px 10px 5px;
}
.message-section div:nth-child(2) p
{
    margin: 5% 0px 0px 4%;
    width: 95%;
    color: var(--Moderate-Violet);
}
.message-section div:nth-child(3)
{
    top: 140px;
    right: 4%;
}
.message-section div:nth-child(3) img
{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.message-section div:nth-child(4)
{
    top: 200px;
    right: 4%;
    width: 65%;
    height: 9%;
    background: var(--White);
    border-radius: 10px 10px 5px 10px;
}
.message-section div:nth-child(4) p
{
    margin: 4% 0px 0px 4%;
    width: 95%;
    color: var(--Desaturated-Dark-Violet);
}
.message-section div:nth-child(5)
{
    top: 260px;
    right: 4%;
    width: 48%;
    height: 5%;
    background: var(--White);
    border-radius: 10px 10px 5px 10px;
}
.message-section div:nth-child(5) p
{
    margin: 5% 0px 0px 4%;
    width: 95%;
    color: var(--Desaturated-Dark-Violet);
}
.message-section div:nth-child(6)
{
    top: 300px;
    left: 4%;
    width: 80%;
    height: 10%;
    background: var(--bg-left-mess);
    border-radius: 10px 10px 10px 5px;
}
.message-section div:nth-child(6) p
{
    margin: 1% 0px 0px 4%;
    width: 95%;
    color: var(--Moderate-Violet);
}
.message-section div:nth-child(7)
{
    display: flex;
    align-items: center;
    top: 370px;
    left: 4%;
    width: 80%;
    height: 6%;
    background: linear-gradient(90deg , var(--Light-Magenta) , var(--Light-Violet));
    border-radius: 10px 10px 10px 5px;
}
.message-section div:nth-child(7) input[type=radio]
{
    margin-left: 3%;
}
.message-section div:nth-child(7) option
{
    color: var(--White);
    font-weight: var(--fw400);
    font-size: 0.8rem;
    margin: 0 25% 0 5%;
}
.message-section div:nth-child(7) span
{
    color: var(--White);
}
.message-section div:nth-child(8)
{
    display: flex;
    align-items: center;
    top: 408px;
    left: 4%;
    width: 80%;
    height: 6%;
    background: linear-gradient(90deg , var(--Light-Magenta) , var(--Light-Violet));
    border-radius: 10px 10px 10px 5px;
}
.message-section div:nth-child(8) input[type=radio]
{
    color: var(--Very-Light-Magenta);
    margin-left: 3%;
}
.message-section div:nth-child(8) option
{
    color: var(--White);
    font-weight: var(--fw400);
    font-size: 0.8rem;
    margin: 0 37% 0 5%;
}
.message-section div:nth-child(8) span
{
    color: var(--White);
}
.message-section div:nth-child(9)
{
    display: flex;
    align-items: center;
    width: 95%;
    height: 8%;
    background: var(--White);
    top: 448px;
    left: 2.5%;
    border-radius: 50px;
}
.message-section div:nth-child(9) p
{
    margin: 0px 40% 0px 5%;
    color: var(--Grayish-Blue);
    font-weight: var(--fw400);
}
.message-section div:nth-child(9) .fa-angle-right
{
    background-color: var(--Very-Dark-Desaturated-Violet);
    color: var(--White);
    padding: 5px 8px;
    border-radius: 50%;
}
.text-section h1
{
    font-size: 3rem;
    color: var(--Very-Dark-Desaturated-Violet);
}
.text-section p
{
    margin-top: 30px;
    width: 600px;
    color: var(--Dark-Grayish-Violet);
}
/* media queries */
@media screen and (max-width: 1440px) 
{
    .left-shape
    {
        left: -250px;
    }
    .right-shape
    {
        right: -350px;
    }
    .phone-body
    {
        width: 45%;
    }
}
@media screen and (max-width: 1024px)
{
    .phone-body
    {
        width: 60%;
    }
    .text-section p
    {
        width: 400px;
    }
} 
@media screen and (max-width: 768px)
{
    .left-shape
    {
        top: -200px;
        left: -350px;
    }
    .right-shape
    {
        bottom: -200px;
        right: -400px;
    }
    .container
    {
        height: fit-content;
    }
    .phone-section
    {
        margin-top: 100px;
        width: 100%;
    }
    .text-section
    {
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
    }
    .phone-body
    {
        margin: 0;
        width: 40%;
    }
    .attribution
    {
        margin-top: 50px;
    }
}
@media screen and (max-width: 480px)
{
    .phone-body
    {
        width: 70%;
    }
    .text-section p
    {
        font-size: 1.2rem;
        width: 300px;
    }
}